[data-theme-mode=light], .light {
	--colors-black: #1b1f24 !important;
	--colors-white: #ffffff !important;
	--colors-gray-0: #f6f8fa !important;
	--colors-gray-1: #eaeef2 !important;
	--colors-gray-2: #d0d7de !important;
	--colors-gray-3: #afb8c1 !important;
	--colors-gray-4: #8c959f !important;
	--colors-gray-5: #6e7781 !important;
	--colors-gray-6: #57606a !important;
	--colors-gray-7: #424a53 !important;
	--colors-gray-8: #32383f !important;
	--colors-gray-9: #24292f !important;
	--colors-red-0: #FFEBE9 !important;
	--colors-red-1: #ffcecb !important;
	--colors-red-2: #ffaba8 !important;
	--colors-red-3: #ff8182 !important;
	--colors-red-4: #fa4549 !important;
	--colors-red-5: #cf222e !important;
	--colors-red-6: #a40e26 !important;
	--colors-red-7: #82071e !important;
	--colors-red-8: #660018 !important;
	--colors-red-9: #4c0014 !important;
	--colors-green-0: #dafbe1 !important;
	--colors-green-1: #aceebb !important;
	--colors-green-2: #6fdd8b !important;
	--colors-green-3: #4ac26b !important;
	--colors-green-4: #2da44e !important;
	--colors-green-5: #1a7f37 !important;
	--colors-green-6: #116329 !important;
	--colors-green-7: #044f1e !important;
	--colors-green-8: #003d16 !important;
	--colors-green-9: #002d11 !important;
	--colors-blue-0: #ddf4ff !important;
	--colors-blue-1: #b6e3ff !important;
	--colors-blue-2: #80ccff !important;
	--colors-blue-3: #54aeff !important;
	--colors-blue-4: #218bff !important;
	--colors-blue-5: #0969da !important;
	--colors-blue-6: #0550ae !important;
	--colors-blue-7: #033d8b !important;
	--colors-blue-8: #0a3069 !important;
	--colors-blue-9: #002155 !important;
	--colors-yellow-0: #fff8c5 !important;
	--colors-yellow-1: #fae17d !important;
	--colors-yellow-2: #eac54f !important;
	--colors-yellow-3: #d4a72c !important;
	--colors-yellow-4: #bf8700 !important;
	--colors-yellow-5: #9a6700 !important;
	--colors-yellow-6: #7d4e00 !important;
	--colors-yellow-7: #633c01 !important;
	--colors-yellow-8: #4d2d00 !important;
	--colors-yellow-9: #3b2300 !important;
	--colors-orange-0: #fff1e5 !important;
	--colors-orange-1: #ffd8b5 !important;
	--colors-orange-2: #ffb77c !important;
	--colors-orange-3: #fb8f44 !important;
	--colors-orange-4: #e16f24 !important;
	--colors-orange-5: #bc4c00 !important;
	--colors-orange-6: #953800 !important;
	--colors-orange-7: #762c00 !important;
	--colors-orange-8: #5c2200 !important;
	--colors-orange-9: #471700 !important;
	--colors-purple-0: #fbefff !important;
	--colors-purple-1: #ecd8ff !important;
	--colors-purple-2: #d8b9ff !important;
	--colors-purple-3: #c297ff !important;
	--colors-purple-4: #a475f9 !important;
	--colors-purple-5: #8250df !important;
	--colors-purple-6: #6639ba !important;
	--colors-purple-7: #512a97 !important;
	--colors-purple-8: #3e1f79 !important;
	--colors-purple-9: #2e1461 !important;
	--colors-pink-0: #ffeff7 !important;
	--colors-pink-1: #ffd3eb !important;
	--colors-pink-2: #ffadda !important;
	--colors-pink-3: #ff80c8 !important;
	--colors-pink-4: #e85aad !important;
	--colors-pink-5: #bf3989 !important;
	--colors-pink-6: #99286e !important;
	--colors-pink-7: #772057 !important;
	--colors-pink-8: #611347 !important;
	--colors-pink-9: #4d0336 !important;
	--colors-coral-0: #FFF0EB !important;
	--colors-coral-1: #FFD6CC !important;
	--colors-coral-2: #FFB4A1 !important;
	--colors-coral-3: #FD8C73 !important;
	--colors-coral-4: #EC6547 !important;
	--colors-coral-5: #C4432B !important;
	--colors-coral-6: #9E2F1C !important;
	--colors-coral-7: #801F0F !important;
	--colors-coral-8: #691105 !important;
	--colors-coral-9: #510901 !important;
	--colors-foreground-default: #24292f !important;
	--colors-foreground-muted: #57606a !important;
	--colors-foreground-subtle: #6e7781 !important;
	--colors-foreground-inverse: #ffffff !important;
	--colors-canvas-default: #ffffff !important;
	--colors-canvas-overlay: #ffffff !important;
	--colors-canvas-inset: #f6f8fa !important;
	--colors-canvas-subtle: #f6f8fa !important;
	--colors-inverse-canvas-default: #6e7781 !important;
	--colors-inverse-canvas-muted: rgba(175,184,193,0.2) !important;
	--colors-inverse-canvas-subtle: rgba(234,238,242,0.5) !important;
	--colors-border-default: #d0d7de !important;
	--colors-border-muted: hsla(210,15%,84%,1) !important;
	--colors-border-subtle: rgba(27,31,36,0.15) !important;
	--colors-shadow-small: 0 1px 0 rgba(27,31,36,0.04) !important;
	--colors-shadow-medium: 0 3px 6px rgba(140,149,159,0.15) !important;
	--colors-shadow-large: 0 8px 24px rgba(140,149,159,0.2) !important;
	--colors-shadow-extra-large: 0 12px 48px rgba(140,149,159,0.3) !important;
	--colors-levels-active-foreground: #0969da !important;
	--colors-levels-active-canvas-emphasis: #0969da !important;
	--colors-levels-active-canvas-muted: rgba(84,174,255,0.4) !important;
	--colors-levels-active-canvas-subtle: #ddf4ff !important;
	--colors-levels-success-foreground: #1a7f37 !important;
	--colors-levels-success-canvas-emphasis: #2da44e !important;
	--colors-levels-success-canvas-muted: rgba(74,194,107,0.4) !important;
	--colors-levels-success-canvas-subtle: #dafbe1 !important;
	--colors-levels-warning-foreground: #bc4c00 !important;
	--colors-levels-warning-canvas-emphasis: #bc4c00 !important;
	--colors-levels-warning-canvas-muted: rgba(251,143,68,0.4) !important;
	--colors-levels-warning-canvas-subtle: #fff1e5 !important;
	--colors-levels-error-foreground: #cf222e !important;
	--colors-levels-error-canvas-emphasis: #cf222e !important;
	--colors-levels-error-canvas-muted: rgba(255,129,130,0.4) !important;
	--colors-levels-error-canvas-subtle: #FFEBE9 !important;
}

[data-theme-mode=dark], .dark {
	--colors-black: #1c2128 !important;
	--colors-white: #cdd9e5 !important;
	--colors-gray-0: #cdd9e5 !important;
	--colors-gray-1: #adbac7 !important;
	--colors-gray-2: #909dab !important;
	--colors-gray-3: #768390 !important;
	--colors-gray-4: #636e7b !important;
	--colors-gray-5: #545d68 !important;
	--colors-gray-6: #444c56 !important;
	--colors-gray-7: #373e47 !important;
	--colors-gray-8: #2d333b !important;
	--colors-gray-9: #22272e !important;
	--colors-red-0: #ffd8d3 !important;
	--colors-red-1: #ffb8b0 !important;
	--colors-red-2: #ff938a !important;
	--colors-red-3: #f47067 !important;
	--colors-red-4: #e5534b !important;
	--colors-red-5: #c93c37 !important;
	--colors-red-6: #ad2e2c !important;
	--colors-red-7: #922323 !important;
	--colors-red-8: #78191b !important;
	--colors-red-9: #5D0F12 !important;
	--colors-green-0: #b4f1b4 !important;
	--colors-green-1: #8ddb8c !important;
	--colors-green-2: #6bc46d !important;
	--colors-green-3: #57ab5a !important;
	--colors-green-4: #46954a !important;
	--colors-green-5: #347d39 !important;
	--colors-green-6: #2b6a30 !important;
	--colors-green-7: #245829 !important;
	--colors-green-8: #1b4721 !important;
	--colors-green-9: #113417 !important;
	--colors-blue-0: #c6e6ff !important;
	--colors-blue-1: #96d0ff !important;
	--colors-blue-2: #6cb6ff !important;
	--colors-blue-3: #539bf5 !important;
	--colors-blue-4: #4184e4 !important;
	--colors-blue-5: #316dca !important;
	--colors-blue-6: #255ab2 !important;
	--colors-blue-7: #1b4b91 !important;
	--colors-blue-8: #143d79 !important;
	--colors-blue-9: #0f2d5c !important;
	--colors-yellow-0: #fbe090 !important;
	--colors-yellow-1: #eac55f !important;
	--colors-yellow-2: #daaa3f !important;
	--colors-yellow-3: #c69026 !important;
	--colors-yellow-4: #ae7c14 !important;
	--colors-yellow-5: #966600 !important;
	--colors-yellow-6: #805400 !important;
	--colors-yellow-7: #6c4400 !important;
	--colors-yellow-8: #593600 !important;
	--colors-yellow-9: #452700 !important;
	--colors-orange-0: #ffddb0 !important;
	--colors-orange-1: #ffbc6f !important;
	--colors-orange-2: #f69d50 !important;
	--colors-orange-3: #e0823d !important;
	--colors-orange-4: #cc6b2c !important;
	--colors-orange-5: #ae5622 !important;
	--colors-orange-6: #94471b !important;
	--colors-orange-7: #7f3913 !important;
	--colors-orange-8: #682d0f !important;
	--colors-orange-9: #4d210c !important;
	--colors-purple-0: #eedcff !important;
	--colors-purple-1: #dcbdfb !important;
	--colors-purple-2: #dcbdfb !important;
	--colors-purple-3: #b083f0 !important;
	--colors-purple-4: #986ee2 !important;
	--colors-purple-5: #8256d0 !important;
	--colors-purple-6: #6b44bc !important;
	--colors-purple-7: #5936a2 !important;
	--colors-purple-8: #472c82 !important;
	--colors-purple-9: #352160 !important;
	--colors-pink-0: #ffd7eb !important;
	--colors-pink-1: #ffb3d8 !important;
	--colors-pink-2: #fc8dc7 !important;
	--colors-pink-3: #e275ad !important;
	--colors-pink-4: #c96198 !important;
	--colors-pink-5: #ae4c82 !important;
	--colors-pink-6: #983b6e !important;
	--colors-pink-7: #7e325a !important;
	--colors-pink-8: #69264a !important;
	--colors-pink-9: #551639 !important;
	--colors-coral-0: #FFDACF !important;
	--colors-coral-1: #FFB9A5 !important;
	--colors-coral-2: #F79981 !important;
	--colors-coral-3: #EC775C !important;
	--colors-coral-4: #DE5B41 !important;
	--colors-coral-5: #C2442D !important;
	--colors-coral-6: #A93524 !important;
	--colors-coral-7: #8D291B !important;
	--colors-coral-8: #771D13 !important;
	--colors-coral-9: #5D1008 !important;
	--colors-foreground-default: #adbac7 !important;
	--colors-foreground-muted: #768390 !important;
	--colors-foreground-subtle: #636e7b !important;
	--colors-foreground-inverse: #cdd9e5 !important;
	--colors-canvas-default: #22272e !important;
	--colors-canvas-overlay: #2d333b !important;
	--colors-canvas-inset: #1c2128 !important;
	--colors-canvas-subtle: #2d333b !important;
	--colors-inverse-canvas-default: #636e7b !important;
	--colors-inverse-canvas-muted: rgba(99,110,123,0.4) !important;
	--colors-inverse-canvas-subtle: rgba(99,110,123,0.1) !important;
	--colors-border-default: #444c56 !important;
	--colors-border-muted: #373e47 !important;
	--colors-border-subtle: rgba(205,217,229,0.1) !important;
	--colors-shadow-small: 0 0 transparent !important;
	--colors-shadow-medium: 0 3px 6px #1c2128 !important;
	--colors-shadow-large: 0 8px 24px #1c2128 !important;
	--colors-shadow-extra-large: 0 12px 48px #1c2128 !important;
	--colors-levels-active-foreground: #539bf5 !important;
	--colors-levels-active-canvas-emphasis: #316dca !important;
	--colors-levels-active-canvas-muted: rgba(65,132,228,0.4) !important;
	--colors-levels-active-canvas-subtle: rgba(65,132,228,0.15) !important;
	--colors-levels-success-foreground: #57ab5a !important;
	--colors-levels-success-canvas-emphasis: #347d39 !important;
	--colors-levels-success-canvas-muted: rgba(70,149,74,0.4) !important;
	--colors-levels-success-canvas-subtle: rgba(70,149,74,0.15) !important;
	--colors-levels-warning-foreground: #cc6b2c !important;
	--colors-levels-warning-canvas-emphasis: #ae5622 !important;
	--colors-levels-warning-canvas-muted: rgba(204,107,44,0.4) !important;
	--colors-levels-warning-canvas-subtle: rgba(204,107,44,0.15) !important;
	--colors-levels-error-foreground: #e5534b !important;
	--colors-levels-error-canvas-emphasis: #c93c37 !important;
	--colors-levels-error-canvas-muted: rgba(229,83,75,0.4) !important;
	--colors-levels-error-canvas-subtle: rgba(229,83,75,0.15) !important;
}

:root {
	--layout-spacing-0: 0px;
	--layout-spacing-1: 4px;
	--layout-spacing-2: 8px;
	--layout-spacing-3: 16px;
	--layout-spacing-4: 24px;
	--layout-spacing-5: 32px;
	--layout-spacing-6: 40px;
	--layout-spacing-7: 48px;
	--layout-spacing-8: 64px;
	--layout-spacing-9: 96px;
	--layout-spacing-10: 112px;
	--layout-spacing-11: 128px;
	--layout-border-radius-0: 0px;
	--layout-border-radius-1: 4px;
	--layout-border-radius-2: 6px;
	--layout-border-radius-3: 8px;
	--layout-border-radius-4: 50%;
	--typography-font-family-body: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--typography-font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	--typography-font-size-0: 12px;
	--typography-font-size-1: 14px;
	--typography-font-size-2: 16px;
	--typography-font-size-3: 20px;
	--typography-font-size-4: 24px;
	--typography-font-size-5: 32px;
	--typography-font-size-6: 40px;
	--typography-font-size-7: 48px;
	--typography-line-height-condensed-ultra: 1;
	--typography-line-height-condensed: 1.25;
	--typography-line-height-default: 1.5;
	--typography-font-weight-thin: 100;
	--typography-font-weight-extra-light: 200;
	--typography-font-weight-light: 300;
	--typography-font-weight-regular: 400;
	--typography-font-weight-medium: 500;
	--typography-font-weight-semi-bold: 600;
	--typography-font-weight-bold: 700;
	--typography-font-weight-extra-bold: 800;
	--typography-font-weight-black: 900;
	--typography-font-weight-extra-black: 950;
}


/*# sourceMappingURL=main.768a5966.css.map*/